<section class="contato">

  <h2>Entre em contato</h2>
  <p>(34) 3331-1095</p>
  <p>(34) 9973-8657</p>
  <p>Uberaba/MG</p>
  <p>sac@candidoempresarial.com.br</p>

  <form>
    <label for="nome">Nome</label>
    <input type="text"name="nome" placeholder="Nome">
    
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email">
    
    <label for="mensagem">Mensagem</label>
    <textarea name="mensagem" placeholder="Mensagem"></textarea>

    <button>
      Enviar
    </button>

  </form>
</section>
