<section class="contato">

  <h2>Entre em contato</h2>
  <p>(34) 3331-1095</p>
  <p>(34) 9973-8657</p>
  <p>Uberaba/MG</p>
  <p>sac@candidoempresarial.com.br</p>

  <form (ngSubmit)="enviar()">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" [(ngModel)]="nome" placeholder="Nome" required>
    
    <label for="email">Email</label>
    <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="email@email.com" required>
    
    <label for="mensagem">Mensagem</label>
    <textarea name="mensagem" id="mensagem" [(ngModel)]="mensagem" placeholder="Mensagem" required></textarea>

    <button type="submit">
      Enviar
    </button>

  </form>
</section>
